<!doctype html>
<html lang="en">
  
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/png" href="assets/image/logo.png"/>

    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/png" href="assets/image/logo.png"/>

    <!-- All CSS -->
    <!-- fontAwesome -->
    <link rel="stylesheet" href="frontassets/css/all.min.css">
    <!-- 7 stroke icon -->
    <link rel="stylesheet" href="frontassets/css/pe-icon-7-stroke.css">
    <!-- Roysha icon -->
    <link rel="stylesheet" href="frontassets/css/roysha-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/admin/css/toastr.min.css">
    <link rel="stylesheet" href="frontassets/css/bootstrap.min.css">
    <link rel="stylesheet" href="frontassets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="frontassets/css/jquery.fancybox.min.css">
    
    <link href="../cdn.jsdelivr.net/npm/select2%404.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="../cdn.jsdelivr.net/npm/select2%404.1.0-beta.1/dist/js/select2.min.js"></script>




    <link rel="stylesheet" href="frontassets/css/nice-select.css">
    <link rel="stylesheet" href="frontassets/css/style.css">

    <!-- custom css if you need -->
    <link rel="stylesheet" href="frontassets/css/custom.css">

    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="6b84b802-d974-4896-92e5-a177f4d49a66";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

    <!-- Color Palette. simple uncommned if you need any color palette -->
    <!-- <link rel="stylesheet" href="css/switcher/css/red.css"> -->

    <title>Monumental Trust Bank Plc |     Contact</title>
    
   
  </head>
  <body class="home-one body-box">


    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    <!-- Header start -->
    <header class="header">
      <div class="container d-flex align-items-center">
          <a class="logo" href="index.html">
            <img src="assets/image/logo.png" width="50" alt="">
          </a>
      
          <nav class="primary-menu text-md-right">
            <a id="mobile-menu-toggler" href="#"><i class="fas fa-bars"></i></a>
            <ul>
               <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="faq.html">FAQs</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="/login" class="login btn btn-outline btn-round"><span class="bh"></span> <span>Login</span></a></li>
                       
            </ul>
          </nav>
      </div>
      
    </header>
    <!-- Header end -->
  <!-- Banner section start -->
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 m-auto">
            <div class="ban-content text-center">
              <h1>Create Account</h1>
              <p>Fill the form below to create an account on Monumental Trust Bank.</p>
              
              <span class="simple-txt">New Account</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner section end -->

     <!-- Contact section start -->
    <section class="contact">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 nopadd-rth">
            <div class="contact-from-wrap">
              <div class="sec-heading">
                <h2 class="sec-title">Signup</h2>
                <p class="sec-subtitle">Fill the form below to create an account. Please note, you must fill the required fields.</p>
              </div>
             		 <form method="post" action="/register">
                  <input type="hidden" name="_token" value="">

                  <% if (messages.error) { %>
                    <div class="alert alert-danger">
                       <strong><%= messages.error %></strong>
                    </div>
                   <% } %>

                  <div class="form-group">
										First Name
										  <input type="text" class="form-control" style="margin-bottom:0px; margin-top:0px; " name="first_name"  id="fname" value="" required>
                  </div>
										   <div class="form-group"> Middle Name
										    <input type="text" class="form-control" style="margin-bottom:0px; margin-top:0px; " name="middle_name" id="mname"   >
                                          </div>
										   <div class="form-group"> Last Name
										    <input type="text" class="form-control" style="margin-bottom:0px; margin-top:0px; " name="last_name" id="lname"   required>
                                            </div> 
										   <div class="form-group"> Residential Address
                        <input type="text" class="form-control" style="margin-bottom:0px; margin-top:0px;" name="address" id="address"    >
                      </div>
                      <div class="form-group">
														City
											<input name="city" type="text" class="form-control" id="city"  style="margin-bottom:0px;"  value=""  >	
                    </div>																								
                      <div class="form-group"> State
												 State
														  <input name="state" type="text" class="form-control" id="state"  style="margin-bottom:0px;"  value=""  >
														</div>
														<div class="form-group">
														 Zip Code
													    <input name="zipcode" type="text" class="form-control" id="zipcode"  style="margin-bottom:0px;"  value=""  > </div>
	

													<div class="form-group">
													     Nationality 
													      <input type="text" class="form-control" style="margin-bottom:0px; margin-top:0px;" name="nationality" id="nationality"   >
													     
            	</div>

          <div class="form-group">
													   Phone Number
													     <input type="text" class="form-control" style="margin-bottom:0px;" name="phone" id="phone" value=""  >
					</div>				
          <div class="form-group"> Email
														    <input type="email" class="form-control" style="margin-bottom:0px;" name="email" id="ail" value="" required >
                                                        </div>

                                                        <div class="form-group">
														Date of Birth
                                                        <input type="date" class="form-control" style="margin-bottom:0px;" name="dob" id="dob" value=""  >
					</div>
								<div class="form-group"> Gender
												    <select class="form-control" name="gender">
														<option value="">Select option</option>
														<option value="Male">Male</option>
														<option value="Female">Female</option>
													</select>
                                                        </div>


														<div class="form-group">
														Employment Status
													<select class="form-control" name="employstatus">
														<option value="">Select option</option>
														<option value="Employed">Employed</option>
														<option value="Unemployed">Unemployed</option>
														<option value="Unemployed">Retired</option>
                            <option value="Unemployed">Student</option>
                            <option value="Unemployed">Others</option>


													</select>
												</div>
                            <div class="form-group">
												      Account Type
												        <select name="accttype" class="form-control" id="accttype" required>
                                                          <option value="" selected>Select option</option>
                                                          <option value="Online">Online Account</option>
                                                          <option value="Checking">Checking Account</option>
                                                          <option value="Current">Current Account</option>
                                                          <option value="Corporate">Corporate Account</option>
                                                          <option value="Offshore">Offshore Account</option>
                                                          <option value="Joint">Joint Account</option>
                                                         </select>
                                                       </div>

														<div class="form-group">Currency
													  <select name="currency" class="form-control" id="accttype" required>
                                                          <option value="" selected>Select option</option>
                                                          <option value="$">US Dollar ($)</option>
                                                          <option value="&pound;">Pound Sterling (&#163;)</option>
                                                          <option value="&euro;">Euro (&#128;)</option>
														  <option value="&yen;">Japanese Yen (&#165;)</option>
													  </select>
                                                      </div>
														 <div class="form-group">Transaction Pin Number
														    <input name="pinnumber" type="password" class="form-control" id="pinnumber" style="margin-bottom:0px;" value="" maxlength="4" placeholder="Numbers only" required>
                                                        </div>
														 <div class="form-group">Password
													      <input type="password" class="form-control password" style="margin-bottom:0px;" name="password" id="passw" value="" required>
													    </div>
													     <div class="form-group">Repeat Password
													        <input type="password" class="form-control password" style="margin-bottom:0px;" name="password_confirmation" id="passw2" value="" required>
													    </div>
														 									 

													  <div class="form-group">Next of Kin
													      <input type="text" class="form-control" style="margin-bottom:0px;" name="nokname" id="nokname" value=""  >
                                                      </div>
													  <div class="form-group"> Next of Kin
													    Address
													      <input type="text" class="form-control" style="margin-bottom:0px;" name="nokaddress" id="nokaddress" value=""  >
                              </div>
													   <div class="form-group">Relationship
													    <input type="text" class="form-control" style="margin-bottom:0px;" name="nokrelationship" id="nokrelationship"  >
													  </div>
										               <div class="form-group"> Phone
										                Number
										                  <input type="text" class="form-control" style="margin-bottom:0px;" name="nokphone" id="nokphone" value="">
										              </div>
										               <div class="form-group"> Next of Kin
										                Email
										                <input type="text" class="form-control" style="margin-bottom:0px;" name="nokemail" id="nokemail" value="">
													      
										              </div> 
										              <div>
                                    <input type="submit" name="submit" class="btn btn-primary" value="Submit" id="submit">
                                  </div>

								  </form>	 
              </div> 

        </div>
        </div>
      </div>
    </section>
    <!-- Contact section end -->

    
   


    <!-- Footer strat -->
    <footer class="footer">
      <div class="foo-top">
      <div class="container">
        <div class="row">
          
            </div>
                  <div id="google_translate_element"></div>
            <div class="col-md-6">
              <div class="copyright">Copyright &copy; <a href=" ">Monumental Trust Bank</a> - 2023</div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->
    <!-- JS -->
    <script src="frontassets/js/jquery-3.3.1.min.js"></script>
    <script src="frontassets/js/jquery-ui.min.js"></script>
    <script src="frontassets/js/bootstrap.min.js"></script>
    <script src="frontassets/js/owl.carousel.min.js"></script>
    <script src="frontassets/js/owl.carousel2.thumbs.min.js"></script>
    <script src="frontassets/js/jquery.countdown.min.js"></script>
    <script src="frontassets/js/jquery.fancybox.min.js"></script>
    <script src="frontassets/js/jquery.nice-select.min.js"></script>
    <script src="../cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" ></script>
    <script src="../s3-us-west-2.amazonaws.com/s.cdpn.io/106949/jquery.onscreen.js"></script>
    <script src="frontassets/js/scripts.js"></script>
    <script type="text/javascript" src="assets/frontend/js/toastr.min.js">
    
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>
  </body>

<!-- Mirrored from monumentaltrustbankinc.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Aug 2023 06:28:41 GMT -->
</html>
